:root {
  --primary-color: #FF52BF;
  --secondary-color: #EBFBFF;
  --tertiary-color: #00252E;
  --complementary-color: #808D99;
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
}